<div class="user pull-right">
    <span class="item dropdown" uib-dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" ng-click="logout()" style="cursor:pointer" uib-dropdown-toggle uib-tooltip="Logout" tooltip-placement="bottom">
            <i class="fa fa-sign-out"></i></a>
    </span>
    <span class="item dropdown" uib-dropdown on-toggle="toggled(open)">
        <a ui-sref="account.user-profile" uib-tooltip="User Profile" tooltip-placement="bottom"><i class="fa fa-user"></i></a>
    </span>
</div>
