<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="pull-left"><img src="app/img/proenergylogo.png"></a>
        </div>
    </div>
</nav>


<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default top-space-80">
        <div class="panel-body">
            <h2 class="text-primary">Login</h2>
            <form ng-submit="vm.login()">
                <p ng-show="vm.error" class="text-danger">{{ vm.error.message }}</p>
                <input ng-model="vm.user.email" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
                    type="email" name="email" class="form-control" placeholder="Email address" required autofocus><br>
                <input ng-model="vm.user.password" type="password" name="password" class="form-control" placeholder="Password"  required><br>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
