<div class="container-fluid" ng-controller="PriceCtrl">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group input-group-sm pull-right">
                        <a type="button" class="btn btn-sm btn-default detail-btn pull-right" uib-tooltip-placement="top" uib-tooltip="Cancel"
                        ui-sref="account.price_list"><i class="fa fa-reply"></i></a>
                        <button ng-if="vm.price_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Last" ng-click="vm.last()">
                            <i class="fa fa-fast-forward"></i>
                        </button>
                        <button ng-if="vm.price_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Next" ng-click="vm.next()">
                            <i class="fa fa-step-forward"></i>
                        </button>
                        <button ng-if="vm.price_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Back" ng-click="vm.back()">
                            <i class="fa fa-step-backward"></i>
                        </button>
                        <button ng-if="vm.price_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="First" ng-click="vm.first()">
                            <i class="fa fa-fast-backward"></i>
                        </button>
                        <button ng-if="vm.price_id === null" type="button" class="btn btn-sm btn-primary detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Save" ng-click="vm.addPrice()">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-default">
            <div ng-if="vm.price_id === null" class="panel-heading">
                <h3 class="panel-title"><span class="menu-icon fa fa-th-large"></span> New Price</h3>
            </div>
            <div ng-if="vm.price_id !== null" class="panel-heading">
                <h3 class="panel-title"><span class="menu-icon fa fa-th-large"></span> {{vm.price.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <i class="menu-icon fa fa-info-circle"></i> General
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-xs-12"><br>
                                    <div class="container">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Name</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.price.name" ng-change="vm.updatePrice()" placeholder="Price Name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Category</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.price.category" ng-change="vm.updatePrice()" placeholder="Category" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Status</label>
                                                <div class="col-xs-8">
                                                    <select ng-model="vm.price.status" ng-change="vm.updatePrice()" class="form-control">
                                                        <option value="Enabled">Enabled</option>
                                                        <option value="Disabled">Disabled</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Power Output(kW)</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.price.power_output" ng-change="vm.updatePrice()" placeholder="Power Output" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Day Rate</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.price.day_rate" ng-change="vm.updatePrice()" placeholder="Day Rate" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Week Rate</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.price.week_rate" ng-change="vm.updatePrice()" placeholder="Weekly Rate" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">4 Week Rate</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.price.four_week_rate" ng-change="vm.updatePrice()" placeholder="4 Week Rate" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Description</label>
                                                <div class="col-xs-8">
                                                    <textarea class="tinyMCE" placeholder="Enter Description Here" ng-model="vm.price.price_description"
                                                    ng-change="vm.updatePrice()"> </textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
