<div class="container-fluid">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="menu-icon fa fa-file-text"></span> Template Setup</h4>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="menu-icon fa fa-file-text"></i> Header & Footer</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Header Image</legend>
                                <div class="col-xs-12 text-center">
                                    <p><div align="center"><img ng-src="{{vm.template_images.header_image.url}}"></div></p>
                                </div><br>
                                <button class="btn btn-default btn-block" ngf-select="vm.updateTemplateImage($file, 'header')" accept="image/*" ngf-max-size="10MB">
                                    <h4>Update Header Image</h4>
                                </button>
                           </fieldset><br>
                       </div>
                       <div class="col-xs-12">
                           <fieldset>
                               <legend>Footer Image</legend>
                               <div class="col-xs-12 text-center">
                                   <p><div align="center"><img ng-src="{{vm.template_images.footer_image.url}}"></div></p>
                               </div><br>
                               <button class="btn btn-default btn-block" ngf-select="vm.updateTemplateImage($file, 'footer')" accept="image/*" ngf-max-size="10MB">
                                   <h4>Update Footer Image</h4>
                               </button>
                           </fieldset>
                       </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="menu-icon fa fa-file-text"></i> Default Signature</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <fieldset>
                                <div class="col-xs-12 text-center">
                                    <p><div align="center"><img ng-src="{{vm.template_images.signature.url}}"></div></p>
                                </div><br>
                                <button class="btn btn-default btn-block" ngf-select="vm.updateTemplateImage($file, 'signature')" accept="image/*" ngf-max-size="10MB">
                                    <h4>Update Default Signature Image (Can be blank image)</h4>
                                </button>
                           </fieldset><br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="menu-icon fa fa-file-text"></i> Quote Template</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Subject Line</legend>
                                <form class="form-horizontal">
                                    <input type="text" ng-model="vm.quote.subject_line" ng-change="vm.updateSubjectLine()" placeholder="Subject Line" class="form-control">
                                </form>
                            </fieldset><br>
                            <fieldset>
                                <legend>Preamble</legend>
                                <form class="form-horizontal">
                                    <textarea rows="5" ng-model="vm.quote.preamble" ng-change="vm.updatePreamble()"></textarea>
                                </form>
                            </fieldset><br>
                        </div>
                        <div class="col-xs-12">
                            <fieldset>
                                <legend><i class="fa fa-sliders"></i> Generator Rates By Shift</legend>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <label class="control-label">Shift Type</label>
                                            <input type="text" style="text-align:left;" ng-model="vm.shift.label" placeholder="Shift Type" class="form-control">
                                        </div>
                                        <div class="col-xs-3">
                                            <label class="control-label">Runtime</label>
                                            <input type="text" style="text-align:left;" ng-model="vm.shift.runtime" placeholder="Runtime" class="form-control">
                                        </div>
                                        <div class="col-xs-3">
                                            <label class="control-label">% of Cost</label>
                                            <input type="text" style="text-align:left;" ng-model="vm.shift.percent_of_cost" placeholder="% of Cost" class="form-control">
                                        </div>
                                        <div class="col-xs-3 inline-btn" align="right">
                                            <button type="button" class="btn btn-sm btn-primary" uib-tooltip-placement="top" uib-tooltip="Add Rate By Shift" ng-click="vm.addShift()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div>
                                    <div class="row">
                                        <div ui-grid="vm.gridRatesByShift" class="grid-150"></div>
                                    </div>
                                </div>
                            </fieldset><br>
                        </div>
                        <div class="col-xs-12">
                            <fieldset>
                                <legend><i class="menu-icon fa fa-wrench"></i> Services - Sales and Marketing Content</legend>
                                <form class="form-horizontal" role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <textarea class="form-control" ng-model="vm.marketing_service" placeholder="Enter Service" rows="3"></textarea>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn btn-primary pull-right" ng-click="vm.addNode('service')" type="button"><span class="menu-icon fa fa-plus"></span></button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="row">
                                    <div ui-grid="vm.gridServices" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid-200"></div>
                                </div><br>
                                <legend><i class="menu-icon fa fa-truck"></i> Transportation - Sales and Marketing Content</legend>
                                <form class="form-horizontal" role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <textarea class="form-control" ng-model="vm.marketing_transportation" placeholder="Enter Transportation" rows="3"></textarea>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn btn-primary pull-right" ng-click="vm.addNode('transportation')" type="button"><span class="menu-icon fa fa-plus"></span></button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="row">
                                    <div ui-grid="vm.gridTransportation" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid-200"></div>
                                </div>
                            </fieldset><br>
                        </div>
                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Closing Statement</legend>
                                <form class="form-horizontal" role="form">
                                    <textarea rows="5" ng-model="vm.quote.closing_statement" ng-change="vm.updateClosingStatement()"></textarea>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
