<div class="container-fluid" ng-controller="AssetCtrl">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group input-group-sm pull-right">
                        <a type="button" class="btn btn-sm btn-default detail-btn pull-right" uib-tooltip-placement="top" uib-tooltip="Cancel"
                        ui-sref="account.assets"><i class="fa fa-reply"></i></a>
                        <button ng-if="vm.asset_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Last" ng-click="vm.last()">
                            <i class="fa fa-fast-forward"></i>
                        </button>
                        <button ng-if="vm.asset_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Next" ng-click="vm.next()">
                            <i class="fa fa-step-forward"></i>
                        </button>
                        <button ng-if="vm.asset_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Back" ng-click="vm.back()">
                            <i class="fa fa-step-backward"></i>
                        </button>
                        <button ng-if="vm.asset_id !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="First" ng-click="vm.first()">
                            <i class="fa fa-fast-backward"></i>
                        </button>
                        <button ng-if="vm.asset_id === null" type="button" class="btn btn-sm btn-primary detail-btn pull-right"
                        uib-tooltip-placement="top" uib-tooltip="Save" ng-click="vm.addAsset()">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-default">
            <div ng-if="vm.asset_id === null" class="panel-heading">
                <h3 class="panel-title"><span class="menu-icon fa fa-th-large"></span> New Asset</h3>
            </div>
            <div ng-if="vm.asset_id !== null" class="panel-heading">
                <h3 class="panel-title"><span class="menu-icon fa fa-th-large"></span> {{vm.asset.unit_number}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <i class="menu-icon fa fa-info-circle"></i> General
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-xs-12"><br>
                                    <div class="container">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Name</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.asset.name" ng-change="vm.updateAsset()" placeholder="Asset Name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Unit Number</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.asset.unit_number" ng-change="vm.updateAsset()" placeholder="Price" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Asset Code</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.asset.code" ng-change="vm.updateAsset()" placeholder="Price" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Status</label>
                                                <div class="col-xs-8">
                                                    <select ng-model="vm.asset.status" ng-change="vm.updateAsset()" class="form-control">
                                                        <option value="Enabled">Enabled</option>
                                                        <option value="Disabled">Disabled</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Price</label>
                                                <div class="col-xs-8">
                                                    <input type="text" ng-model="vm.asset.price" ng-change="vm.updateAsset()" placeholder="Price" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Description</label>
                                                <div class="col-xs-8">
                                                    <textarea ng-model="vm.asset.asset_description" ng-change="vm.updateAsset()" class="form-control" rows="4"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Specification</label>
                                                <div class="col-xs-8">
                                                    <textarea ng-model="vm.asset.asset_specification" ng-change="vm.updateAsset()" class="form-control" rows="4"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
