<div class="container-flpid">
    <div class="col-xs-12">
        <form class="form-horizontal">
              <div class="form-group">
                  <div class="col-xs-12">
                      <a type="button" class="btn btn-sm btn-default detail-btn pull-right"
                        tooltip-placement="top" uib-tooltip="Dashboard" ui-sref="account.dashboard"><i class="fa fa-reply"></i></a>
                  </div>
              </div>
        </form>
    <div class="panel panel-default">
        <div ng-if="vm.user_profile_id !== null" class="panel-heading">
            <h3 class="panel-title"><span class="menu-icon fa fa-profile"></span> {{vm.user_profile.first_name}} {{vm.user_profile.last_name}} - {{vm.user_profile.type}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="menu-icon fa fa-info-circle"></i> General
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="container-fluid top-space-15">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">First Name</label>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="vm.user_profile.first_name" ng-change="vm.updateUserProfile()"
                                                    placeholder="First Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Last Name</label>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="vm.user_profile.last_name" ng-change="vm.updateUserProfile()"
                                                    placeholder="Last Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">E-Mail</label>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="vm.user_profile.email" ng-change="vm.updateUserProfile()"
                                                    placeholder="Profile E-Mail" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Office Number</label>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="vm.user_profile.office_phone" ng-change="vm.updateUserProfile()"
                                                    placeholder="Office Phone Number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Cell Number</label>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="vm.user_profile.cell_phone" ng-change="vm.updateUserProfile()"
                                                    placeholder="Cell Phone Number" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                    <fieldset>
                                        <legend>Closing Statement</legend>
                                        <form class="form-horizontal" role="form">
                                            <textarea rows="5" ng-model="vm.user_profile.signature_statement" ng-change="vm.updateSignatureStatement()"></textarea>
                                        </form>
                                    </fieldset><br>
                                    <fieldset>
                                        <legend>Signature Image</legend>
                                        <div class="col-xs-12 text-center">
                                            <p><div align="center"><img ng-src="{{vm.user_profile.signature_image.url}}"></div></p>
                                        </div><br>
                                        <button class="btn btn-default btn-block" ngf-select="vm.updateSignatureImage($file, 'signature')" accept="image/*" ngf-max-size="10MB">
                                            <h4>Update Signature Image</h4>
                                        </button>
                                   </fieldset>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="menu-icon fa fa-lock"></i> Security
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="container-fluid top-space-15">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">E-Mail</label>
                                            <div class="col-xs-8">
                                                <input type="text" ng-model="vm.user_profile.email"
                                                    placeholder="Profile E-Mail" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">New Password</label>
                                            <div class="col-xs-8">
                                                <input type="password" ng-model="vm.user_profile.new_password"
                                                    placeholder="New Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Confirm New Password</label>
                                            <div class="col-xs-8">
                                                <input type="password" ng-model="vm.user_profile.confirm_password"
                                                    placeholder="Confirm New Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-11">
                                                <div class="pull-right">
                                                    <a href="" ng-click="vm.forgotPassword()">Forgot Password</a>
                                                    <a class="btn btn-primary" ng-click="vm.newPassword()">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
