<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li>
                            <h4 class="text-center">Contact</h4>
                            <a ui-sref="account.activity" data-toggle="tab" title="Contact">
                                <span class="round-tabs one">
                                    <i class="fa fa-info"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <h4 class="text-center">Discovery</h4>
                            <a ui-sref="account.activity.discovery" data-toggle="tab" title="Discovery">
                                <span class="round-tabs two">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <h4 class="text-center">Proposal</h4>
                            <a ui-sref="account.activity.proposal" data-toggle="tab" title="Proposal">
                                <span class="round-tabs three">
                                    <i class="fa fa-file-powerpoint-o"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <h4 class="text-center">Quote</h4>
                            <a ui-sref="account.activity.quote" data-toggle="tab" title="Quote">
                                <span class="round-tabs four">
                                    <i class="fa fa-file-text"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <h4 class="text-center">Order</h4>
                            <a data-toggle="tab" title="Order">
                                <span class="round-tabs five">
                                    <i class="fa fa-clipboard"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="row">
                            <div ng-if="vm.activity_id != null && vm.activity_id !== 'new'" class="col-xs-3">
                                <h6 class="text-left">{{vm.activity.contact_full_name}} | {{vm.contact.job_title}}</h6>
                                <h6 class="text-left">{{vm.contact.email}}</h6>
                                <h6 ng-if="vm.contact.business_phone !== ''" class="text-left">Bus: {{vm.contact.business_phone}}</h6>
                                <h6 ng-if="vm.contact.cell_phone !== ''" class="text-left">Cell: {{vm.contact.cell_phone}}</h6>
                                <span ng-repeat="co in vm.contact.companies" class="label label-default label-5px-right"><i class="menu-icon fa fa-industry"></i> {{co.name}}</span>
                            </div>
                            <div class="col-xs-6">
                                <h2 class="text-center">Order<h2>
                            </div>
                            <div ng-if="vm.activity.order_status === undefined" class="col-xs-3">
                                <h6 class="text-right">{{vm.order_date}} {{vm.order_time}}</h6>
                            </div>
                            <div ng-if="vm.activity.order_status === true" class="col-xs-3" align="right">
                                <h6 class="text-right"><u>Added:</u> {{vm.order_date_added}} {{vm.order_time_added}}</h6>
                                <h6 class="text-right"><u>Updated:</u> {{vm.order_date_updated}} {{vm.order_time_updated}}</h6>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-12">
                                <span ng-if="vm.activity.order_status === true" class="text-right pull-left" style="cursor:pointer" uib-tooltip-placement="top" uib-tooltip="Create PDF" ng-click="vm.createOrderPdf()">
                                    <i class="fa fa-2x fa-file-pdf-o" style="color:red"></i>
                                </span>
                                <button type="button" class="btn-calendar pull-right" uib-tooltip-placement="top" uib-tooltip="Add Event" ng-click="vm.addCalendarEvent()">
                                    <i class="fa fa-2x fa-calendar text-primary"></i>
                                </button>
                            </div>
                        </div><br>
                        <div align="center">
                            <img ng-src="{{vm.template_images.header_image.url}}" width="100%">
                        </div><br>
                        <div class="row">
                            <h4 class="text-center">Rental Order Confirmation (ROC)</h4>
                        </div>

                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <td class="text-left" colspan="2"><h5>Customer Information</h5></td>
                                        <td class="text-left" colspan="2"><h5>Billing Address</h5></td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Company Name:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.activity.company_name}}</p>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Address:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.address1}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Contact Name:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.activity.contact_full_name}}</p>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>City:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.city}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Main Office #:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.business_phone}}</p>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Province:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.province}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Cell #:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.cell_phone}}</p>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Postal Code:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.postal_code}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Fax #:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.fax}}</p>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Attn:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.activity.contact_full_name}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>E-Mail:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.contact.email}}</p>
                                            </td>
                                            <td class="text-left" width="150">
                                            </td>
                                            <td class="text-left">
                                            </td>
                                        </tr>
                                        <tr class="blank_row">
                                            <td class="text-left" width="150">
                                            </td>
                                            <td class="text-left">
                                            </td>
                                            <td class="text-left" width="150">
                                            </td>
                                            <td class="text-left">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>On Site Contact:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.on_site_contact" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Contact #:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.on_site_contact_number" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Location:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.location" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>LSD #:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.lsd_number" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Delivery Date:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="date" class="form-control" uib-datepicker-popup ng-model="vm.order.delivery_date" is-open="status.opened"
                                                    min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>PO #:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.po_number" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Application:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.application" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Rig#:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.rig_number" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Reason For Product:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.reason_for_product" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Rig Company:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.rig_company" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="blank_row">
                                            <td class="text-left" width="150">
                                            </td>
                                            <td class="text-left">
                                            </td>
                                            <td class="text-left" width="150">
                                            </td>
                                            <td class="text-left">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p><b>RENTAL TERMS</b></p>
                                            </td>
                                            <td class="text-left">
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Rental #:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.rental_number" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Min. Rental Period:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.min_rental_period" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Rental Done:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.rental_done" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150">
                                                <p>Rental Start Date:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="date" class="form-control" uib-datepicker-popup ng-model="vm.order.rental_start_date" is-open="status.opened"
                                                    min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                            <td class="text-left" width="150">
                                                <p>Rental End Date:</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="date" class="form-control" uib-datepicker-popup ng-model="vm.order.rental_end_date" is-open="status.opened"
                                                    min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><br>
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center" colspan="5"><h5>Rental Rates</h5></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="100px">Unit #</td>
                                            <td class="text-left">Name</td>
                                            <td ng-if="vm.activity.order_type !== 'Oil and Gas'" class="text-left" width="125px">4 Week Rate</td>
                                            <td ng-if="vm.activity.order_type !== 'Oil and Gas'" class="text-left" width="125px">Weekly Rate</td>
                                            <td class="text-left" width="125px">Day Rate</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="r in vm.chosen_rates">
                                            <td class="text-left" width="100px">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" ng-model="r.unit_no" ng-change="vm.updateUnitNo(r.$id, r.unit_no)" class="form-control" style="text-align: left">
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <p>{{r.name}}</p>
                                            </td>
                                            <td ng-if="vm.activity.order_type !== 'Oil and Gas'" class="text-right" width="125px">
                                                <p>{{r.four_week_rate}}</p>
                                            </td>
                                            <td ng-if="vm.activity.order_type !== 'Oil and Gas'" class="text-right" width="125px">
                                                <p>{{r.week_rate}}</p>
                                            </td>
                                            <td class="text-right" width="125px">
                                                <p>{{r.day_rate}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><br>
                        <div class="col-xs-10 col-xs-offset-1">
                            <p ng-bind-html="vm.order_template.additional_info"></p>
                        </div><br>
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="text-left" width="200px">
                                                <p>How did you hear about our company?</p>
                                            </td>
                                            <td class="text-left">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control" style="text-align: left" ng-model="vm.order.company_recommendation" ng-change="vm.updateOrder()">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><br>
                        <div class="col-xs-10 col-xs-offset-1">
                            <p>Additional Information</p>
                            <form class="form-horizontal">
                                <textarea rows="4" ng-model="vm.order.additional_comments" ng-change="vm.updateOrder()"></textarea>
                            </form>
                        </div><br><br>
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <td class="text-left" colspan="2"><h5>Customer</h5></td>
                                        <td class="text-left" colspan="2"><h5>Pro-Energy Sales Rep</h5></td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left" width="150px">
                                                <p>Name:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.activity.contact_full_name}}</p>
                                            </td>
                                            <td class="text-left" width="150px">
                                                <p>Name:</p>
                                            </td>
                                            <td class="text-left">
                                                <p>{{vm.user_profile.first_name}} {{vm.user_profile.last_name}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="150px">
                                                <p>Signature:</p>
                                            </td>
                                            <td class="text-left">
                                                <p></p>
                                            </td>
                                            <td class="text-left" width="150px">
                                                <p>Signature:</p>
                                            </td>
                                            <td class="text-left">
                                                <p><img ng-src="{{vm.user_profile.signature_image.url}}"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><br>
                        <div align="center" >
                            <img ng-src="{{vm.template_images.footer_image.url}}" width="100%">
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3">
                                <button ng-click="vm.removeStatus()" type="button" class="btn btn-default pull-right"><i class="fa fa-chevron-left"></i> Back</button>
                            </div>
                            <div ng-if="vm.activity.order_status === undefined" class="col-lg-3 col-lg-offset-6">
                                <button ng-click="vm.completeOrder()" type="button" class="btn btn-default pull-left">Complete Order</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{event.title}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-xs-3">Subject</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" ng-model="event.title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Starts</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="event.startDate"
                            is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input id="startTime" type="time" class="form-control" step="60" value="{{displayStartTime}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Ends</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="event.endDate"
                            is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input id="endTime" type="time" class="form-control" step="60" value="{{displayEndTime}}">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveEvent()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
