<div class="container-fluid">
    <div class="col-xs-6">
        <div ng-if="vm.gridType === 'Mine'">
            <button ng-click="vm.switchGrid()" type="button" class="btn btn-default pull-left">All Activities </i></button>
        </div>
        <div ng-if="vm.gridType === 'All'">
            <button ng-click="vm.switchGrid()" type="button" class="btn btn-default pull-left">My Activities </i></button>
        </div>
    </div>
    <div class="col-xs-6">
        <a type="button" class="btn btn-sm btn-primary list-btn pull-right" tooltip-placement="top" uib-tooltip="New"
            ui-sref="account.activity"><i class="fa fa-plus"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-xs-12"><br>
            <div class="panel panel-default">
                <div ng-if="vm.gridType === 'Mine'" class="panel-heading">
                    <h4 class="panel-title"><span class="menu-icon fa fa-share-alt"></span> My Activities</h4>
                </div>
                <div ng-if="vm.gridType === 'All'" class="panel-heading">
                    <h4 class="panel-title"><span class="menu-icon fa fa-share-alt"></span> All Activities</h4>
                </div>
                <div ng-if="vm.gridType === 'Mine' && vm.user.type === 'Sales'" class="panel-body">
                    <div ui-grid="vm.gridMyActivities" class="grid-500"></div>
                </div>
                <div ng-if="vm.gridType === 'All' && vm.user.type === 'Sales'" class="panel-body">
                    <div ui-grid="vm.gridActivities" class="grid-500"></div>
                </div>
                <div ng-if="vm.gridType === 'Mine' && vm.user.type === 'Sales Admin' || vm.gridType === 'Mine' && vm.user.type === 'Admin'" class="panel-body">
                    <div ui-grid="vm.gridAdminMyActivities" class="grid-500"></div>
                </div>
                <div ng-if="vm.gridType === 'All' && vm.user.type === 'Sales Admin' || vm.gridType === 'All' && vm.user.type === 'Admin'" class="panel-body">
                    <div ui-grid="vm.gridAdminActivities" class="grid-500"></div>
                </div>
            </div>
        </div>
    </div>
</div>
